body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #1e1e1e;
  padding: 20px;
  text-align: center;
}

nav {
  margin: 20px 0;
  text-align: center;
}

nav button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

nav button:hover {
  background-color: #555;
}

main {
  text-align: center;
  padding: 40px 20px;
}

audio {
  margin-top: 20px;
}

.zoomable {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.zoomable:hover {
  transform: scale(1.05);
}

/* Стилі для фону та зображення в повному екрані */
#fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#fullscreen-overlay img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

.character-name {
  transition: color 0.3s ease;
}

.character-name:hover {
  color: red;
  cursor: default;
}

.character-image {
  width: 250px;
  height: auto;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.character-image:hover {
  transform: scale(1.05);
}

/* Стилі для модального вікна */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 80vh;
  border: 3px solid white;
}

.modal-close {
  position: absolute;
  top: 30px;
  right: 40px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

#secret-text:hover {
  text-decoration: underline;
}

.features-list {
  list-style: none;
  padding: 0;
}

.features-list li {
  background: #222;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  transition: background 0.3s;
}

.features-list li:hover {
  background: #333;
}

.features-list .details {
  display: none;
  margin-top: 5px;
  font-weight: normal;
  color: #ccc;
}
